# Development env vars

# Application
NODE_ENV=development

# URL Shortener
# Use port 5173 for development, 3000 for production (docker)
PUBLIC_URL=http://localhost:5173

# Database credentials
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=url_shortener
DATABASE_PASSWORD=
DATABASE_DB=postgres
DATABASE_URL=postgresql://url_shortener:@localhost:5432/postgres?schema=public